.sign-in-main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  transition: all 0.3s ease;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.form .heading {
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 500;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
  height: 20px;
}

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit:hover {
  opacity: 0.8;
}

.spacer {
  margin-top: 36px;
}

/* Header */

.header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo .logo {
  width: 80px;
}

.header__logo .slogan {
  font-size: 16px;
  font-weight: 600;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1dbfaf;
  min-width: 280px;
  min-height: 40px;
  border-radius: 50px;
}

.header-search__icon {
  display: inline-block;
  font-size: 18px;
  opacity: 0.8;
}

.search__input {
  margin-left: 20px;
  border: none;
  min-height: 40px;
  width: 70%;
  outline: none;
  font-size: 14px;
}

.header__user {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.user-greeting {
  text-decoration: none;
  color: rgb(81, 81, 81);
  font-size: 14px;
  font-weight: 500;
  /* margin-right: 16px; */
  padding: 6px;
  border-radius: 5px;
}
.user-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 8px;
}

.user-icon:hover {
  opacity: 0.8;
}


.user-control {
  position: relative;
}

.user-options {
  position: absolute;
  z-index: 2;
  right: 0;
  top: calc(100% + 4px);
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  min-width: 160px;
  background: #fff;
  box-shadow: 1px 1px 5px #ccc;
  display: none;
}

.user-options::before {
  content: "";
  display: block;
  width: 40px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 0;
}

.user-control:hover .user-options {
  display: block;
}

.options-item {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #515151;
}

.options-item:hover {
  background: rgb(176, 227, 221);
}

.user-logout {
  border-top: 1px solid #ccc;
}

.logout-icon {
  margin-left: 4px;
}

.header__test-name {
  font-size: 20px;
  font-weight: 500;
  color: #1dbfaf;
}

/* Sidebar */

.app-content {
  margin-top: 32px;
}

.sidebar {
  width: 20%;
}
.sidebar-description {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.sidebar-item {
  margin: 8px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-icon {
  font-size: 24px;
}

.sidebar-content {
  display: block;
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 90%;
  height: fit-content;
}

.swiper-slide img{
  width: 100%;
  border-radius: 4px;
  filter: brightness(0.7);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
  width: 20px;
  transition: all 0.2s ease;
  border-radius: 5px;
  opacity: 1;
}

.scoreboard {
  background-color: #fff;
  height: 180px;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
}

.scoreboard-description {
  margin-top: 8px;
  font-weight: 500;
}

.timer {
  text-align: center;
  font-size: 18px;
  margin-top: 12px;
}

.timer__icon {
  animation: rotate 2s linear infinite;
  margin-right: 4px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer-description {
  font-weight: 400;
}

.timer-countdown {
  font-weight: 600;
  color: #ff1900;
  display: inline-block;
  width: 100%;
}

.scoreboard__test-name {
  margin-top: 12px;
  padding: 4px 0;
  color: #1dbfaf;
  font-size: 18px;
}

.scoreboard_pt {
  margin-top: 12px;
  font-size: 18px;
}

.scoreboard_pt-point {
  min-width: 70px;
  color: #1dbfaf;
}

.questions-list {
  list-style: none;
  position: relative;
}

.question-item {
  width: 100%;
  margin-top: 14px;
}

.question-content {
  min-height: 48px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.question-option {
  font-size: 16px;
  font-weight: 450;
}

.question-score {
  font-size: 14px;
  color: rgb(203, 0, 0);
  font-style: italic;
  position: absolute;
  right: 0;
  bottom: 0;
}

.result-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.answer-item {
  padding: 8px 0px 8px 24px;
  font-size: 16px;
  margin-top: 8px;
  background: #fff;
  box-shadow: 2px 2px 8px rgb(214, 214, 214);
  border-radius: 4px;
  user-select: none;
}

.answer-item:hover {
  cursor: pointer;
  background: rgb(176, 227, 221);
}

.answer-item.enabled {
  color: #fff;
  background: var(--primary-color);
}

.answer-item.answer-item--wrong {
  background: linear-gradient(45deg, #850303, #cc0000);
  color: #fff;
}

.answer-item--modifier {
  float: right;
  margin-right: 10px;
  font-size: 18px;
}

.submit-container {
  text-align: center;
}

.submit-btn.btn,
.back-btn.btn {
  margin: 16px 4px;
  font-size: 16px;
  min-width: 100px;
  padding: 12px 0;
}

.submit-btn:disabled {
  /* filter: brightness(0.8); */
  opacity: 0.5;
  cursor: default;
}

.submit-btn:disabled:hover {
  transform: none;
}

.scoreboard__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.scoreboard__modal.open {
  display: flex;
}

.modal-container {
  background: #fff;
  width: 400px;
  max-width: calc(100% - 64px);
  min-height: 200px;
  position: relative;
  border-radius: 20px;
  text-align: center;
}

.modal-body-icon {
  padding: 8px;
  width: 50%;
  height: 50%;
  transform: rotate(-20deg);
}

.modal-congrats {
  font-size: 20px;
  font-weight: 500;
}

.modal-score {
  color: #1dbfaf;
}

.congrats-description {
  font-size: 14px;
  padding: 4px;
  font-weight: 400;
}

.modal-close {
  margin-bottom: 8px;
}

.medal-img {
  width: 100%;
  max-height: 15vh;
}

.close-btn {
  margin-top: 8px;
  font-size: 16px;
  width: 50%;
}